@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');


* {
    box-sizing: border-box;
}

body {
  background: #f6f6f6;
  margin: 0;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 2000px;
  margin: 0 50px;
}

/* USER NAVBAR */
.navbar {
  box-shadow: 0px 2px 8px 2px rgba(145,145,145,0.47);
  padding: 10px;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Poppins' !important;
  border: 0 !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-left: 15px ;
  color: black !important;
}

.logo:active {
  text-shadow: 0 0 1.5px rgba(145,145,145);
}

.mobile-menu {
  display: contents;
}

.categoriesNavBar a {
  text-transform: uppercase;
  margin: 0 5px;
}

.autocomplete-container {
  width: 150px;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete-container input:focus {
  box-shadow: 0 0 0 1px #d6e0ff;
  border-color: none;
}

.autocomplete-wrapper {
  position: absolute;
  z-index: 4;
  width: 100%;
  background-color: #fdfdfd;
  margin-top: 7px;
  box-shadow: .5px 3px 7px rgb(94 95 98 / 62%);
}

.autocomplete-wrapper a {
  border-top: .5px solid rgb(145 145 145 / 18%);;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 12px;
}

.autocomplete-wrapper a.product-options:hover, 
.autocomplete-wrapper a.product-options:focus {
  border: none;
  box-shadow: none;
  border-top: .5px solid rgb(145 145 145 / 18%);;
}

.autocomplete-wrapper a.product-options:active {
  border-left: 3px solid #3366FF;
  padding-left: 9px;
}

/* Homepage */
.headline span, .headline p {
  margin: 40px;
}

.product-view-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}


.product-view-element {
  width: 25%;
  height: auto;
  padding: 5px;
}

.image-wrapper {
  background: white;
}

.product-view-element img {
  object-fit: contain;
  margin: auto;
  padding: 20px;
  height: 370px;
  width: 100%;
}

.product-view-content {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.product-view-content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 5px;
}

.product-view-text {
  font-size: 12px;
}

/* login and cart button */
#shopping-cart-btn, #user-login-btn {
  width: 40px;
  height: 40px;
  border: none;
  margin: 0 25px;
}

.user-login-options {
  display: flex;
  flex-direction: column;
}

.user-login-options button {
  width: 100px;
}

.aside-navbar {
  display: none;
}

/* LOG IN FORM - SIGN UP FORM */
.login-container {
  margin: 0 40px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.login-form{
  text-align: left;
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  margin: 30px 0;
}

.user-validation{
  width: 100% !important;
  font-family: 'poppins' !important;
  border-radius: 10px !important;
  padding: 20px !important;
}

.login-form sa {
  color: #9353bd;
  text-decoration: none;
}

.password-container a:active {
  text-shadow: .5px 0px .5px;
}

.login-form Button {
  width: 100%;
  font-family: 'poppins';
  font-size: 15px;
  margin: 10px 0 25px 0;
  border-radius: 10px;
  padding: 20px;
}

.signup-first-and-last-name {
  display: flex;
  justify-content: space-between;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.sign-up a {
  font-size: inherit;
}

.sign-up span {
  padding-right: 5px;
}

