@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');

* {
    box-sizing: border-box;
}

body {
  background: #f6f6f6;
  margin: 0;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 2000px;
  margin: 0 50px;
}

/* USER NAVBAR */
.navbar {
  box-shadow: 0px 2px 8px 2px rgba(145,145,145,0.47);
  padding: 10px;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Poppins' !important;
  border: 0 !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-left: 15px ;
  background-color: transparent !important;
}

.mobile-menu {
  display: contents;
}

.categoriesNavBar a {
  text-transform: uppercase;
  margin: 0 5px;
}

.autocomplete-container {
  width: 150px;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete-container input:focus {
  box-shadow: 0 0 0 1px #d6e0ff;
  border-color: none;
}

.autocomplete-wrapper {
  position: absolute;
  z-index: 4;
  width: 100%;
  background-color: #fdfdfd;
  margin-top: 7px;
  box-shadow: .5px 3px 7px rgb(94 95 98 / 62%);
}

.autocomplete-wrapper a {
  border-top: .5px solid rgb(145 145 145 / 18%);;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 12px;
}

.autocomplete-wrapper a.product-options:hover, 
.autocomplete-wrapper a.product-options:focus {
  border: none;
  box-shadow: none;
  border-top: .5px solid rgb(145 145 145 / 18%);;
}

.autocomplete-wrapper a.product-options:active {
  border-left: 3px solid #3366FF;
  padding-left: 9px;
}

/* Homepage */
.headline span, .headline p {
  margin: 40px;
}

.product-view-container {
  display: flex;
  flex-wrap: wrap;
}


.product-view-element {
  width: 25%;
  height: auto;
  padding: 5px;
}

.image-wrapper {
  background: white;
}

.product-view-element img {
  object-fit: contain;
  margin: auto;
  padding: 20px;
  height: 370px;
  width: 100%;
}

.product-view-content {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.product-view-content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 5px;
}

.product-view-text {
  font-size: 12px;
}

/* login and cart button */
#shopping-cart-btn, #user-login-btn, #user-myaccount-btn {
  width: 40px;
  height: 40px;
  border: none ;
  margin-right: 50px;
  background-color: transparent;
}

.user-login-options {
  display: flex;
  flex-direction: column;
}

.user-login-options button {
  width: 100px;
}

.aside-navbar {
  display: none;
}

/* LOG IN FORM - SIGN UP FORM */
.login-container {
  margin: 0 40px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.login-form{
  text-align: left;
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  margin: 30px 0;
}

.user-validation{
  width: 100% !important;
  font-family: 'poppins' !important;
  border-radius: 10px !important;
  padding: 20px !important;
}

.login-form sa {
  color: #9353bd;
  text-decoration: none;
}

.password-container a:active {
  text-shadow: .5px 0px .5px;
}

.login-form Button {
  width: 100%;
  font-family: 'poppins';
  font-size: 15px;
  margin: 10px 0 25px 0;
  border-radius: 10px;
  padding: 20px;
}

.signup-first-and-last-name {
  display: flex;
  justify-content: space-between;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.sign-up a {
  font-size: inherit;
}

.sign-up span {
  padding-right: 5px;
}

/* quantity Button */
.quantity-btn {
  display: flex;
  align-items: baseline;
  margin: 5px 0 15px 0;
}

.quantity-btn input {
  text-align: center;
  color: black;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* product-view */
.product-details-container {
  margin: 50px 20px;
}

.product-view-container {
  display: flex;
  align-items: flex-start;
}

.product-img-container {
  width: 60%;
}

.product-img-wrapper {
  background: #fdfdfd;
  margin: 0 20px;
  padding: 20px;
}

.product-img-wrapper img {
  object-fit: contain;
  margin: auto;
  width: 100%;
  height: 550px;
}

.product-info-container {
  width: 40%;
}

.product-info-container h2 {
  margin: 0 0 20px 0;
  font-size: 25px;
}

.product-view-container p {
  margin: 0;
  font-size: 12px;
  color: #676666;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis ;
  max-height: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

p.product-info-price {
  font-size: 20px;
}

.product-info-container form {
  margin: 20px 0;
}

.product-view-add-and-buy-btns {
  display: flex;
  justify-content: space-between;
}

.product-view-add-and-buy-btns button {
  border-radius: 0;
  margin: 5px 0;
  border-radius: 10px;
  width: calc(50% - 5px);
}

/* Collapse bar */
.collapsible-container {
  margin-top: 20px;
}

.collapsible-container span {
  display: flex;
  font-size: 15px;
  border-top: 1px solid #8080804d;
  color: #676666;
  font-size: 12px;
  position: relative;
  padding: 10px 0 10px 0;
}

.is-closed::after { 
  content: "⮞";
  transform: rotate(90deg);
   filter: grayscale(100%);
  position: absolute;
  right: 0;
}

.is-open::after { 
  content: "⮞";
  transform: rotate(-90deg);
   filter: grayscale(100%);
  position: absolute;
  right: 0;
}

.collapsible-details span div {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.collapsible-details div p {
  padding-left: 15px;
}

/* CATEGORY VIEW */
.category-view-container {
  display: flex;
  justify-content: space-between;
  color: #393939;
  font-size: 15px;
  align-items: baseline;
  white-space: nowrap;
}

.category-filter, .category-sort {
  display: flex;
  align-items: baseline;
}

.category-view-container input, .category-view-container button {
  background: transparent;
  border: 0;
  font-size: 15px;
}

.category-view-container input::placeholder {
  color: #393939;
}

.category-view-container input:focus {
  box-shadow: none !important;
  font-weight: 600;
}

.category-view-container input:hover, .category-view-container button:hover {
  background-color: transparent !important;
}