
@media only screen and (max-width: 999px) {

  .container {
    margin: 0 20px;
  }

  .hide-navbar-mobile {
    display: none;
  }

  .aside-navbar {
    display: block;
  }

  .aside-navbar-header  {
    display: flex;
    justify-content: center;
  }

  .categoriesNavBar a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #user-login-btn, #shopping-cart-btn {
    width: 100%;
    margin: 4px 0;
    display: flex;
    align-items: flex-end;
  }

  #user-login-label::after {
    content: 'ACCOUNT';
    padding-left: 10px;
  }

  #shopping-cart-label::after {
    content: 'CART';
    padding-left: 10px;
  }

  .autocomplete-container {
    width: 100%;
    margin: 15px 0;
  }

  .autocomplete-wrapper a {
    background-color: #f6f6f6;
  }

    /* Homepage */
  .product-view-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
  }


  .product-view-element {
    width: 33%;
    height: auto;
    padding: 5px;
  }

  .product-view-element img {
    padding: 10px;
    height: 280px;
  }

  .product-view-content p {
    margin: 2px 5px;
  }

  .product-view-text {
    font-size: 12px;
  }


    @media all and (max-width: 600px) {

      /* Homepage */
    .headline span, .headline p {
      margin: 40px 0;
    }

    .headline span {
      font-size: 30px;
      line-height: 40px;
    }

    .product-view-element {
      width: 50%;
    }

    .product-view-element img {
      height: 220px;
    }

    .product-view-content p {
      margin: 2px 5px;
    }

  };
};